:root {
    --gold: rgb(238,182,58);
    --blue: rgb(43,86,128);
    --pale-gold: rgb(215,190,139);
    --dark-grey: rgb(102,102,102);
    --transparent-black: rgb(0,0,0, 0.5);
    --brand-font: 'Pacifico', cursive;
    --site-font:  'Ubuntu', sans-serif;
}

/* Global Styling */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    /* background-color: var(--pale-gold); */
}
.body-content {
    padding: 1em;
}
a {
    text-decoration: none;
}
h1 {
     font-size: 2em;
     font-family: var(--brand-font);
     letter-spacing: 0.2em;
     color: var(--gold);
     margin: 0;
}
h2 {
    font-family: var(--site-font);
    color: var(--blue);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
h3 {
    font-family: var(--site-font);
    color: var(--blue);
}
ul {
    list-style-type: none;
    padding: 0;
}
p {
    font-family: var(--site-font);
    text-align: left;
    color: var(--blue);
}
iframe {
    display: block;
    width: 100%;
}
section {
    margin-top: 1.5em;
    padding: 0 1.2em; 
    background-color: white;
}
button {
    display: block;
    font-family: var(--site-font);
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: var(--gold);
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
}
/* Nav Bar */

nav {
    margin: 0;
    padding: 0 1em;
    background-color: var(--blue);
    height: 4em;
    position: sticky;
    top: 0;
    transition: height 1s;
    transition-delay: 0.75s;
}
nav.nav-expanded {
    height: 6.2em;
}
.header {
    display: flex;
    justify-content: space-between;
}
.navbar-nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--blue);
    transform: translateX(100vw);
    transition: all 0.8s;
    transition-delay: 0;
}

.navbar-nav a {
    color: var(--gold);
    font-family: var(--site-font);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.15em;
    cursor: pointer;
}

.menu-icon i {
    margin-top: 0.5em;
    font-size: 27px;
    color: var(--gold);
}

.menu-open {
    transform: translateX(0);
    position: relative;
}
.countdown-container {
    font-family: var(--site-font);
    text-transform: uppercase;
    letter-spacing: 0.15em;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 5px;
    width: 80%;
    margin: auto;
}

.countdown-container p {
    text-align: center;
    color: var(--gold);
    font-weight: 500;
}

.rsvp-btn {
    font-size: 18px; 
    margin: auto;
    width: 175px;
    height: 50px;
}
.body-btn {
    height: 30px;
    width: 120px;
    font-size: 13px;
    margin-bottom: 1.3em;
}

.google-form iframe {
    display: none;
}

.google-form iframe.form-open {
    border: 3px solid var(--blue);
    border-radius: 5px;
    display: block;
    width: 100%;
}

footer {
    margin: 1em 0 0 0;
    padding: 0 1em;
    background-color: var(--blue);
    height: 3.5em;
}

@media screen and (min-width: 800px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-icon {
        display: none;
    }
    .navbar-nav {
        transform: translateX(0);
    }
    .navbar-nav a {
        margin-left: 1.5em;
    }
    .body-content {
      padding: 0 10em;
    }
    .google-form iframe.form-open {
        border: 3px solid var(--blue);
        border-radius: 5px;
        display: block;
        width: 50%;
    }
  }