:root {
    --gold: rgb(238,182,58);
    --blue: rgb(43,86,128);
    --pale-gold: rgb(215,190,139);
    --dark-grey: rgb(102,102,102);
    --transparent-black: rgb(0,0,0, 0.5);
    --brand-font: 'Pacifico', cursive;
    --site-font: 'Roboto', sans-serif;
}

/* Global Styling */
body {
    margin: 0;
}
.body-content {
    padding: 1em;
}
h1 {
     font-family: var(--brand-font);
     letter-spacing: 0.2em;
     color: var(--gold);
     margin: 0;
     height: 100%;
}

h2 {
    padding-left: 0.75em;
    font-family: var(--site-font);
    color: var(--blue);
    letter-spacing: 0.1em;
}

p {
    font-family: var(--site-font);
    text-align: justify;
}
/* Nav Bar */

nav {
    margin: 0;
    padding: 0 1em;
    background-color: var(--blue);
    height: 3em;
    position: sticky;
}

/* Event Brite */

.event-brite {
    border: 3px solid var(--blue);
    margin: 0 1em;
    border-radius: 5px;
}