:root {
    --background: #859DD3;
    --accent: #f2d169;
    --deep-purple: #2E2E72;
    --blue: rgb(43,86,128);
    --pale-gold: rgb(215,190,139);
    --dark-grey: rgb(102,102,102);
    --site: rgb(0,0,0);
    --brand-font: 'Retrocycles', 'Oswald', sans-serif;
    --site-font:  'Renogare', 'Montserrat', sans-serif;
}

@font-face {
    font-family: Renogare;
    src: url(assets/fonts/renogare/Renogare-Regular.otf);
}

@font-face {
    font-family: Retrocycles;
    src: url(assets/fonts/retrocycles/Retrocycles.otf);
}

/* Global Styling */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: var(--background);
}
.body-content {
    padding: 1em;
    background-color: #859dd3;
    /* background-image: url("assets/background.png"); */
}
a {
    text-decoration: none;
    color: var(--accent);
}
h1 {
    font-size: 2.2em;
    font-family: var(--brand-font);
    letter-spacing: 0.3em;
    color: var(--deep-purple);
    margin: 0;
}
h1.content-header {
    color: var(--site);
}
h2 {
    font-family: var(--site-font);
    color: var(--site);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin: 1em 0;
}
h3 {
    font-family: var(--site-font);
    color: var(--site);
    text-transform: uppercase;
    letter-spacing: 0.08em;
}
ul {
    /* list-style-type: none; */
    padding: 0;
}
ul li {
    font-family: var(--site-font);
    color: var(--site);
    margin-bottom: 0.5em;
    font-size: 20px;
}
hr {
    border-color: var(--accent);
    margin: 2em 0; 
}
p {
    font-family: var(--site-font);
    text-align: left;
    color: var(--site);
    line-height: 1.5em;
    font-size: 19px;
    letter-spacing: 0.04em;
    text-shadow: 0.5px 0.5px 0.5px var(--deep-purple);
    /* text-align: justify; */
}
iframe {
    display: block;
    width: 100%;
}
section {
    margin-top: 1.5em;
    padding: 0 1.2em; 
    background-color: var(--background);
}
button {
    display: block;
    font-family: var(--site-font);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--deep-purple);
    background-color: var(--accent);
    border: 3px solid var(--deep-purple);
    border-radius: 5px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.3);
    cursor: pointer;
}
/* Nav Bar */

nav {
    margin: 0;
    padding: 0 1em;
    background-color: var(--accent);
    height: 5em;
    position: sticky;
    top: 0;
    transition: height 1s;
    transition-delay: 0.75s;
    box-shadow: 0 4px 2px -2px var(--deep-purple);
}
nav.nav-expanded {
    height: 6.2em;
}
.header {
    display: flex;
    justify-content: space-between;
}
.navbar-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
    background-color: var(--accent);
    transform: translateX(-100vw);
    transition: all 0.8s;
    transition-delay: 0;
}
.letter {
    font-size: 1.3em;
}
.navbar-nav a {
    color: var(--deep-purple);
    font-family: var(--site-font);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.1em;
    cursor: pointer;
}
.menu-divider {
    display: block;
    font-weight: bolder;
    color: var(--deep-purple);
}

.navbar-nav a:hover {
    color: var(--background);
}

.menu-icon i {
    margin-top: 0.5em;
    font-size: 27px;
    color: var(--deep-purple);
}

.menu-open {
    transform: translateX(0);
    position: relative;
}
.banner-pic {
   width: 100%;
}
/* Body */
.banner {
    width: 100%;
    height: 8vh;
    margin-top: 1em;
    margin-bottom: 1em;
}
.countdown-container {
    font-family: var(--site-font);
    text-transform: uppercase;
    letter-spacing: 0.15em;
    background-color: var(--accent);
    border: 3px solid var(--deep-purple);
    border-radius: 5px;
    width: 80%;
    margin: auto;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.3);
}

.countdown-container p {
    text-align: center;
    color: var(--deep-purple);
    font-weight: 500;
    text-shadow: 0.5px 0.5px 0.5px var(--deep-purple);
}

.rsvp-btn {
    font-size: 18px; 
    margin: 2em auto;
    width: 250px;
    height: 50px;
}
.body-btn {
    height: 30px;
    width: 120px;
    font-size: 13px;
    margin-bottom: 1.3em;
}
.event-date {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em;
}
.question {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 0.5em;
}
.google-form iframe {
    display: none;
}

.google-form iframe.form-open {
    border: 3px solid var(--blue);
    border-radius: 5px;
    display: block;
    width: 100%;
}

footer {
    margin: 1em 0 0 0;
    padding: 0 1em;
    background-color: var(--accent);
    height: 4em;
}
footer h1 {
    float: right;
}
.hero {
    width: 100%;
    border-radius: 20px;
}
@media screen and (min-width: 800px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-divider {
        display: none;
    }
    .welcome-section {
        padding: 0.5em;
    }
    .event-date {
        margin-top: 0.4em;
    }
    .welcome-container {
        display: flex;
        padding: 0;
        justify-content: space-between;
        margin-bottom: 2em;
    }
    .img-container {
        width: 50%;
        padding: 0;
        /* margin-left: .5em; */
        margin-right: 1em;
        /* border: 1px solid black; */
    }
    .img-container img {
        width: 100%;
        margin: 0;
    }
    .welcome-content {
        width: 50%;
        margin-left: 1em;
        /* margin-right: .5em; */
    }
    .text-center p {
        text-align: center;
    }
    section {
        padding: 0.5em;
    }
    .question {
        text-align: center;
        font-size: 1.9em;
        margin-bottom: 0.5em;
    }
    hr  {
        margin: 2em 0;
    }
    .menu-icon {
        display: none;
    }
    .navbar-nav {
        transform: translateX(0);
        margin-top: 0;
    }
    .navbar-nav a {
        margin-left: 1.5em;
    }
    .banner {
        height: 25vh;
    }
    .body-content {
      padding: 0 10em;
    }
    .countdown-container {
        width: 80%;
    }
    .hero {
        width: 50%;
        display: block;
        margin: auto;
    }
    .google-form iframe.form-open {
        border: 3px solid var(--blue);
        border-radius: 5px;
        display: block;
        width: 50%;
    }
  }